# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/
docs/
.env
tests/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# SAM build artifacts
.aws-sam/
samconfig.toml

# macOS
.DS_Store
.idea/

