# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/
docs/
src/code_review_agent/github_client.py
src/code_review_agent/config.py
.env

.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# macOS
.DS_Store
.idea/

